{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h3 class="mb-3">We are Enthused that you are</h3>
    <h2>Enthusiastic</h2>
    <h1>About</h1>
    <div class="lg">Bicycling!</div>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post">
        <div class="form-group">

        </div>
        

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>
      
    </form>

    <script>

        /* TODO */

    </script>

{% endblock %}